.saved-image-sidebar {
  height: 75vh;
  width: 100%;
  padding-left: 5vw;
  border-left: solid rgb(245, 245, 245);
  grid-area: saved-links;
  text-align: left;
  margin-top: 5vh;
}
.saved-image-link {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-top: 1rem;
}
.saved-image-link i {
  margin-left: 1rem;
}
.saved-image-link a {
  color: rgb(47, 22, 173);
  font-size: 1.5rem;
  margin-top: 1rem;
}
.saved-image-link img {
  position: relative;
  top: 0.15rem;
  margin-left: 0.5rem;
}
